<% content_for :title, "Lista de libros" %>

<div id="books_index">
  <h1><%= yield :title %></h1>

  <% if @books.blank? %>
    <div class="alert alert-warning">No hay libros que mostrar</div>
  <% else %>
    <%= render 'books'%>
  <% end %>

  <%= link_to 'Agregar libro', new_book_path, class: 'btn btn-primary' %>
</div>
